@model CadeteriaWeb.Entities.Pedido;
@{
    ViewData["Title"] = "Eliminacion del pedido #" + Model.Id;
}


<div class="text-center">
    <h1 class="display-4">Eliminación de pedido</h1>
    <br />

    <div class="form-group">
        <form asp-action="DeletePedido" method="post">
            <div>
                <h4>Datos del pedido: </h4>
                <div class="form-group row">
                    <label><b>Observacion: </b>@Model.Observacion</label>
                </div>
                <div class="form-group row">
                    <label><b>Estado: </b>@Model.Estado.ToString()</label>
                </div>

                @if (Model.Cadete != null)
                {
                    <div class="form-group row">
                        <label><b>Cadete: </b>@Model.Cadete.Nombre</label>
                    </div>
                }

                <input hidden type="number" name="id" value="@Model.Id" class="form-control" />
                <input hidden type="text" name="confirm" value="true" class="form-control" />
            </div>

            <div>
                <h4>Datos del cliente: </h4>
                <div class="form-group row">
                    <label><b>Nombre: </b>@Model.Cliente.Nombre</label>
                </div>
                <div class="form-group row">
                    <label><b>Direccion: </b>@Model.Cliente.Direccion</label>
                </div>
                <div class="form-group row">
                    <label><b>Telefono: </b>@Model.Cliente.Telefono</label>
                </div>

                
            </div>
            <br />

            <div class="form-group">
                <h4>¿Desea eliminar este pedido?</h4>

                <div class="form-group row justify-content-center">
                    <button class="btn btn-primary m-2" type="submit"> Confirmar </button>
                    <button asp-action="Index" class="btn btn-primary m-2"> Salir </button>
                </div>
            </div>
        </form>
    </div>
</div>


