@{
    ViewData["Title"] = "Lista de Pedidos";
}
@model CadeteriaWeb.Repositories.DataContext;


<div class="container">
    <main role="main" class="pb-3">
        <hr class="my-4 border-white bg-white">
        <h1>Listado de pedidos</h1>

        <p>
            <a asp-action="CreatePedido" asp-controller="Pedidos">Crear pedido</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Observacion
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Cliente
                    </th>
                    <th>
                        Cadete
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Pedidos.GetAllPedidos())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Observacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                            <a class="" asp-controller="Pedidos" asp-action="VerCliente" asp-route-id="@item.Cliente.Id"><i class="bi bi-eye"></i></a>
                        </td>
                        <td>
                            @if (item.Cadete != null)
                            {
                                @Html.DisplayFor(modelItem => item.Cadete.Nombre)
                                <a class="" asp-controller="Cadetes" asp-action="Index" asp-route-id="@item.Cadete.Id"><i class="bi bi-eye"></i></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
</div>