@{
    ViewData["Title"] = "Info Pedido";
}
@model CadeteriaWeb.Entities.Pedido;

<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Info Pedido</h3>

                        <div class="form-outline mb-4">
                            <p>Observacion: @Model.Observacion</p>
                        </div>

                        <div class="form-outline mb-4">
                            <p>Estado: @Model.Estado</p>
                        </div>

                        <div class="form-outline mb-4">
                            <p>
                                Cliente: @Model.Cliente.Nombre
                                <a class="" asp-controller="Pedidos" asp-action="VerCliente" asp-route-id="@Model.Cliente.Id"><i class="bi bi-eye"></i></a>
                            </p>

                        </div>

                        <hr class="my-4">

                        <div>
                            @if (Model.Estado != CadeteriaWeb.Entities.EstadoPedido.Entregado && Model.Estado != CadeteriaWeb.Entities.EstadoPedido.Cancelado)
                            {
                                <p class="mb-0">Querés modificar algún dato? <a asp-action="UpdatePedido" asp-route-id="@Model.Id" class="fw-bold">Haz click aquí!</a></p>
                            }
                            <p class="mb-0">Querés eliminar tu pedido? <a asp-action="DeletePedido" asp-route-id="@Model.Id" class="fw-bold">Haz click aquí!</a> <b class="text-danger">(La eliminación no es reversible, pensalo bien antes de hacerlo)</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>