@{
    ViewData["Title"] = "Listado pedidos";
}

@model List<CadeteriaWeb.Entities.Pedido>;

<div class="text-center">
    <h1 class="display-4">Listado de Pedidos</h1>
    <br />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Observacion</th>
                <th scope="col">Estado</th>
                <th scope="col">Cliente</th>
                <th scope="col">Id del cadete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var P in Model)
            {
            <tr>
                <td> @P.Id </td>
                <td> @P.Observacion </td>
                <td> @P.Estado.ToString() </td>
                <td> @P.Cliente.Nombre </td>
                @if (P.IdCadete == 0)
                {
                    <td> No asignado </td>
                }
                else
                {
                    <td> @P.IdCadete </td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>


