@{
    ViewData["Title"] = "Listado pedidos";
}

@model List<CadeteriaWeb.Entities.Pedido>;

<div class="text-center">
    <h1 class="display-4">Listado de Pedidos</h1>
    <br />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Observacion</th>
                <th scope="col">Estado</th>
                <th scope="col">Entregar</th>
                <th scope="col">Cancelar</th>
                <th scope="col">Cliente</th>
                <th scope="col">Cadete</th>
                <th scope="col">Modificar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var P in Model)
            {
                <tr>
                    <td> @P.Id </td>
                    <td> @P.Observacion </td>
                    <td> @P.Estado.ToString() </td>

                    <td>
                        <form asp-action="EntregarPedido" method="post">
                            <input hidden type="number" name="id" value="@P.Id" />
                            @if (P.Estado != CadeteriaWeb.Entities.EstadoPedido.En_Camino)
                            {
                                <button type="submit" class="btn btn-success" disabled><i class="bi bi-check-circle"></i></button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-success"><i class="bi bi-check-circle"></i></button>
                            }
                        </form>
                    </td>

                    <td>
                        <form asp-action="CancelarPedido" method="post">
                            <input hidden type="number" name="id" value="@P.Id" />
                            @if (P.Estado == CadeteriaWeb.Entities.EstadoPedido.Entregado || P.Estado == CadeteriaWeb.Entities.EstadoPedido.Cancelado)
                            {
                                <button type="submit" class="btn btn-danger" disabled><i class="bi bi-x-circle"></i></button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-danger"><i class="bi bi-x-circle"></i></button>
                            }

                        </form>
                    </td>

                    <td> @P.Cliente.Nombre </td>

                    @if (P.Cadete == null)
                    {
                        <td> No asignado </td>
                    }
                    else
                    {
                        <td> @P.Cadete.Nombre </td>
                    }

                    <td>
                        <form asp-action="UpdatePedido" method="post">
                            <input hidden type="number" name="id" value="@P.Id" />
                            <button type="submit" class="btn btn-primary"><i class="bi bi-pencil-square"></i></button>
                        </form>
                    </td>

                    <td>
                        <form asp-action="DeletePedido" method="post">
                            <input hidden type="number" name="id" value="@P.Id" />
                            <input hidden type="text" name="confirm" value="false" />
                            <button type="submit" class="btn btn-primary"><i class="bi bi-trash"></i></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


